admin_users                 = ["0xdeadbeefJERKY"]
bucket_name                 = "insert-cloudtrail-bucket-name-here"
security_audit_bucket_name  = "insert-cloudtrail-bucket-name-here-with-suffix"
cloudwatch_email            = "test@email.com"
account_email               = "account@email.com"
sso_display_name            = "First Last"

organizational_units = {
    "Infrastructure" = [],
    "Workloads" = ["Prod", "NonProd"]
}

account_to_ou_mapping = {
    "SecurityOperations" = ["Security"],
    "IAM"                = ["Security"]
}

account_to_nested_ou_mapping = {
    "TestAccount1"       = ["NonProd"]
}

log_archive_account_id          = "112233445566"
alternate_contact_name          = "First Name"
alternate_contact_title         = "Security Engineer"
alternate_contact_email_address = "test@email.com"
alternate_contact_phone_number  = "+11234567890"

enable_test1_vpc = false
enable_test1_sgs = false